/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/06/2018, 12:19:11 AM
    Author     : VICTOR
*/
.colorHeader{
     background-color: #025A9B;   
}
.colorContainer {
 background-color: #025A9B;   
};





